<!DOCTYPE html>
html(lang="en")
    head
        title Put Template Exercise
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
        
    body
        nav.navbar.navbar-light.bg-light.navbar-expand-sm
            ul.navbar-nav  
                li.nav-item 
                    a.nav-link(href="#") Home
                li.nav-item
                    a.nav-link(href="#") About
                li.nav-item
                    a.nav-link(href="#") Contact Us
        br
        br
        div.container
            div.row
                div.col-md-12
                    h2 Pug Templates Exercise
                    p.alert.alert-success=message